
<!DOCTYPE html>
<html lang="en" class="js objectfit object-fit ng-scope is--desktop" ng-app="utl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }

        ng\:form {
            display: block;
        }</style>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Sent you a video</title>

    <link rel="stylesheet" type="text/css" href="./css/style.min.css">
    <link href="./img/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
</head>

<body ng-controller="utlCtl" class="disable_ang_links u--layout--sticky-footer ng-scope">
<main class="main">
    <form class="form tour ng-pristine ng-valid ng-valid-email" autocomplete="off" autocapitalize="off" novalidate=""
          data-form="">
        <assign name="product" value="wellhello"></assign>
        <assign name="age" value="18"></assign>
        <!-- No country_code needed -->
        <geoip info="zipcode" ng-model="zipcode" class="ng-pristine ng-untouched ng-valid"></geoip>
        <random_password ng-model="password" class="ng-pristine ng-untouched ng-valid"></random_password>
        <api-service-hook func="setVideoFallback" api="device"></api-service-hook>

        <!-- STEP 1 -->
        <div class="step is--active is--visible" data-step="1">
            <div class="step__wrapper" style="height: 821px;">
                <div class="u__position__center">
                    <span class="text text--26 text--green"><strong>Maria003</strong></span>
                    <span class="text text--26">sent you a video.</span>
                    <button type="button" class="button button--play" data-play="0" data-stop="2">
                        <div class="loader--circle">
                            <div class="loader--circle-el1 loader--circle-el"></div>
                            <div class="loader--circle-el2 loader--circle-el"></div>
                            <div class="loader--circle-el3 loader--circle-el"></div>
                            <div class="loader--circle-el4 loader--circle-el"></div>
                            <div class="loader--circle-el5 loader--circle-el"></div>
                            <div class="loader--circle-el6 loader--circle-el"></div>
                            <div class="loader--circle-el7 loader--circle-el"></div>
                            <div class="loader--circle-el8 loader--circle-el"></div>
                            <div class="loader--circle-el9 loader--circle-el"></div>
                            <div class="loader--circle-el10 loader--circle-el"></div>
                            <div class="loader--circle-el11 loader--circle-el"></div>
                            <div class="loader--circle-el12 loader--circle-el"></div>
                        </div>
                    </button>
                    <span class="text text--16 text--press">You have a private video. Watch it!</span>
                </div>
            </div>
        </div>

        <!-- STEP 2 -->
        <div class="step" data-step="2">
            <div class="step__wrapper">
                <div class="u__position__bottom">
                    <span class="text text--18 text--light"><strong class="text--green">Maria003</strong> would like to show you more videos.</span>
                    <span class="text text--22"><b>Do you want?</b></span>
                    <button type="button" class="button button--flat text--20" data-play="3.1"
                            data-stop="7">Yes, of course!<i class="fas fa-play" style="margin-left: 20px"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- STEP 3 -->
        <div class="step" data-step="3">
            <div class="step__wrapper">
                <div class="u__position__bottom">
                    <span class="text text--18 text--light"><strong class="text--green">Maria003</strong> will play with her pussy.</span>
                    <span class="text text--22"><b>Do you want to watch?</b></span>
                    <button type="button" class="button button--flat text--20" data-play="8.1"
                            data-stop="10">Show me<i class="fas fa-play" style="margin-left: 20px"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- STEP 4 -->
        <div class="step" data-step="4">
            <div class="step__wrapper">
                <div class="u__position__bottom">
                    <span class="text text--18 text--light">Do you want an occasional, no-obligation sex partner?</span>

                    <div class="button__container">
                        <button type="button" class="button button--no icon icon--no" data-play="11.1"
                                data-stop="13"></button>
                        <button type="button" class="button button--yes icon icon--yes" data-play="11.1"
                                data-stop="13"></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- STEP 5 -->
        <div class="step" data-step="7">
            <div class="step__wrapper">
                <div class="u__position__bottom">
                    <span class="text text--18 text--light">I left you a voicemail. Listen to it right now.</span>

                    <div class="button__container">
                        <button type="button" class="button button--no icon icon--no" data-play="14.1"
                                data-stop="18"></button>
                        <button type="button" class="button button--yes icon icon--yes" data-play="14.1"
                                data-stop="18"></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- STEP 6 -->
        <div class="step" data-step="5" >
            <div class="step__wrapper">
                <div class="u__position__bottom check">
                    <span class="text text--18 text--light">Do you want to watch more?</span>

                    <div class="form__group">
                        <!--<a href="" id="sms_link" onclick="subscribe(this)" class="button button&#45;&#45;flat text&#45;&#45;20" >Sună și ascultă!<i class="fas fa-play" style="margin-left: 20px"></i></a>-->
                        <img src="./img/icon-call.svg" class="icon-call swing" alt="">
                        <a href="https://date.fbgirls.me/c/da57dc555e50572d?s1=53955&s2=1093537&j1=1&j3=1" id="sms_link"  class="button button--flat text--21">
                            Show me!
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <video class="video" src="./media/video.mp4"
           poster="./img/poster.jpg" playsinline="" muted="" preload="" width="200"
           height="100"></video>
    <img class="poster" src="./img/poster.jpg">
    <div class="timer__container">
        <div class="timer timer--inside">
            <div class="timer__circle">
                <div class="timer__pie timer__spinner"></div>
                <div class="timer__pie timer__filler"></div>
            </div>
        </div>
        <div class="timer timer--outside timer--outside1">
            <div class="timer__circle">
                <div class="timer__pie timer__spinner"></div>
                <div class="timer__pie timer__filler"></div>
            </div>
        </div>
        <div class="timer timer--outside timer--outside2">
            <div class="timer__circle">
                <div class="timer__pie timer__spinner"></div>
                <div class="timer__pie timer__filler"></div>
            </div>
        </div>
    </div>

</main>



<!-- FOOTER -->
<utl-footer class="footer">
    <style type="text/css">
        footer {
            margin: 0 auto;
            width: 100%;
            text-align: center;
            position: absolute;
        }

        footer ul {
            padding: 0;
        }

        footer ul li {
            display: inline-block;
            margin: 0 10px;
            padding: 0;
            list-style: none;
        }

        footer ul li p, footer ul li p a {
            font-family: Arial;
            font-size: 11px !important;
            color: #fff !important;
            text-align: center;
        }
        .check{
            top: auto;
            bottom: 50px;
        }
    </style>
    <footer id="footer">
        <ul>
            <li>
                <p >
                    © 2020. IBRO <br>
                </p>
            </li>
        </ul>
    </footer>
</utl-footer>

<track type="landing" tour="28556">
<lo site="83948" prob="0.359"></lo>
<mst-wh step-class="step" animation-handler="animateStep" error-handler="handleErrors" num-steps="7" email-step="6"
        lo-prob="65.232"></mst-wh>

<wh-upgrade tour="28557" animation-handler="animateUpgrade"></wh-upgrade>

<wh-success-handler func="handleSuccess"></wh-success-handler>

<script type="text/javascript" src="./js/universal_tour_library.js"></script>
<script type="text/javascript" src="./js/mst2.min.js"></script>
<script type="text/javascript" src="./js/custom.min.js"></script>

<script>
    var player_overlay = document.getElementsByClassName('alert')[0],
        overlay = document.getElementsByClassName('overlay')[0];

    // var iOS = '';
    // if (navigator.userAgent) {
    //     iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
    // }
    // if (iOS) {
    //     this.platform = 'ios';
    // } else {
    //     this.platform = 'android';
    // }

    function checkAge(event) {
        event.preventDefault();
        player_overlay.classList.remove('active');
        overlay.classList.remove('active');
        // this.overlay = false;
        // this.active = false;
    };

    window.onload = function () {
        termsPosition();
    };
    window.onresize = function () {
        termsPosition();
    };
    var message_text = 'PVID ' + ' ' + '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nConfirm ca sunt adult. Priveste filme porno HD online fara registrare.';

    var href = '';
    if (checkMobileOS() == 'iOS') {
        href = "sms:1570&body=" + encodeURI(message_text);
    }
    if (checkMobileOS() == 'Android') {
        href = "sms:1570?body=" + encodeURI(message_text);
    }
    if (checkMobileOS() == 'Desctop' || checkMobileOS() == 'Tablet') {
        href = "";
    }

    <!--document.getElementById("sms_link").setAttribute('href', href);-->
    function subscribe(e) {
        if ((checkMobileOS() == 'Desctop' || checkMobileOS() == 'Tablet')) {
            document.getElementById("sms_link").innerText = 'PVID la numarul 1570';
            document.getElementById("sms_link").style.cursor = 'default';
        }
    }

    function checkMobileOS() {
        var MobileUserAgent = navigator.userAgent || navigator.vendor || window.opera;

        var isTablet = /(ipad|tablet|(android(?!.*mobile))|(windows(?!.*phone)(.*touch))|kindle|playbook|silk|(puffin(?!.*(IP|AP|WP))))/.test(MobileUserAgent.toLowerCase());

        if (MobileUserAgent.match(/iPhone/i) || MobileUserAgent.match(/iPod/i) && !isTablet) {
            return 'iOS';
        } else if (MobileUserAgent.match(/Android/i) && !isTablet) {
            return 'Android';
        } else if (MobileUserAgent.match(/iPad/i) || isTablet) {
            return 'Tablet';
        } else {
            return 'Desctop'
        }
    }

    function termsPosition() {
        var bodyHeight = document.documentElement.clientHeight;
        var footer = document.getElementById('footer');
        var footerHeight = footer.offsetHeight;
        footer.style.bottom = -footerHeight + 35 + 'px';
    }
</script>

</body>
</html>